/* Estilos gerais */
  
  
  .cabecalho {
    background-color: #1b79c5;
    font-family:'Times New Roman', Times, serif;
    margin-top: 50;
    width: 100%;
    padding: 0;
   
 
  }


  .rodape {
    
    background-color: #1b79c5;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    
 

  }
  
  h1 {
    margin: 0;
  }


  .menu_pesquisa{

    text-align: left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 20;
    padding: 30px;
  }


  /* Configuração padrão da pagina */

  body, html{

    margin: 0;
    font: 16px "Lato",sans-serif;
   
  background-image: url(/Imagens/fundo2.jpg);
  background-position: right;
  background-size: cover;


   
 
  
  }

  .bloco-pesquisa {

      width: 500px;
      position: relative;
      background-color: black;


  }

  .principal {

    position: fixed;
    margin: 100px;


  }

  .espaco-imagem {

    width: 600px;
    height: 600px;
    display: inline;
    justify-content: center;
   

    
    
   


  }

  .imagem {
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    
   


  }

  .botao  {

    font-size:1.2em;
    color: #1b79c5;
    text-align: center;
    
    
    


  }

  .cachorro {

    font-size:1.2em;
    color: #1b79c5;

  }

  .conteudo-pesquisa {

      position: fixed;
      bottom: 350px;
      justify-content: center;
      

  }

  .imagens-salvas {

    width: 600px;
    width: 600px;
    bottom: 150px;
    display: inline;
    margin-top: 50px;


  }

  .imagens-salvas img {

    margin-top: 500px;
    max-width: 250px;
    max-height: 250px;
    display: inline;
    

  }

  
  